<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Ingrese un cliente"></ion-searchbar>

    <ion-list>
        <!-- <ion-item *ngFor="let client of clients" [href]=" '/client-details/' "> -->
        <ion-item *ngFor="let client of clients" (click)="showDetails(client)">
            <ion-avatar slot="start">
              <img src="assets/images/defaut-profile-picture.png">
            </ion-avatar>
          <ion-label>
            <h2>{{ client.name }}</h2>
            
            <p>{{ client.address }}</p>
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
