<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding *ngIf="data">
    <p><b>Nombre:</b> {{ data.name }}</p>
    <p><b>Dirección:</b> {{ data.address }}</p>
    <p><b>Email:</b> {{ data.email }}</p>
    <p><b>Telefono:</b> {{ data.fixed_phone }}</p>
    <p><b>Celular:</b> {{ data.cell_phone }}</p>
    <p><b>CUIL:</b> {{ data.legal_id }}</p>
</ion-content>